/* ----- Browser reset ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(, 1fr);
  grid-gap: 2rem;
  height: 98vh;
  grid-template-areas:
    "A A B B C C"
    "D D B B E E"
    "D D B B G G"
    "F F I H H K"
    "F F J H H K"
    "L L L L L L";
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.gridA {
  background-color: #154c79;
  grid-area: A;
}
.gridB {
  background-color: #063970;
  grid-area: B;
}
.gridC {
  background-color: #abdbe3;
  grid-area: C;
}
.gridD {
  background-color: #873e23;
  grid-area: D;
}
.gridE {
  background-color: #76b5c5;
  grid-area: E;
}
.gridF {
  background-color: #eab676;
  grid-area: F;
}
.gridG {
  background-color: #e28743;
  grid-area: G;
}
.gridH {
  background-color: #1e81b0;
  grid-area: H;
}
.gridI {
  background-color: #b97455;
  grid-area: I;
}
.gridJ {
  background-color: #154c79;
  grid-area: J;
}
.gridK {
  background-color: #063970;
  grid-area: K;
}
.gridL {
  background-color: #873e23;
  grid-area: L;
}
