/* ----- Browser reset ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 1rem;
  background-color: rgb(160, 157, 157);
}
/* ----- Grid parent ----- */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 1.2rem;
  height: 98vh;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

/* ----- Grid items ----- */
.gridA {
  background-color: #154c79;
  grid-area: 1/1/4/5;
}
.gridB {
  background-color: #063970;
  grid-area: 4/1/7/5;
}
.gridC {
  background-color: #abdbe3;
  grid-area: 1/9/3/13;
}
.gridD {
  background-color: #873e23;
  grid-area: 3/9/5/13;
}
.gridE {
  background-color: #76b5c5;
  grid-area: 5/9/7/13;
}
.gridF {
  background-color: #eab676;
  grid-area: 1/5/7/9;
}
.gridG {
  background-color: #e28743;
  grid-area: 11/1/13/13;
}
.gridH {
  background-color: #1e81b0;
  grid-area: 7/5/9/7;
}
.gridI {
  background-color: #b97455;
  grid-area: 9/5/11/7;
}
.gridJ {
  background-color: #154c79;
  grid-area: 7/7/11/11;
}
.gridK {
  background-color: #063970;
  grid-area: 7/11/11/13;
}
.gridL {
  background-color: #873e23;
  grid-area: 7/1/11/5;
}
